/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
*{
  outline: none;
}
body {
  padding-top: 0rem;
  padding-bottom: 0rem;
  color: #5a5a5a;
  font-size: 14px;
}
input,
input::-webkit-input-placeholder,
textarea,
textarea::-webkit-input-placeholder {
  font-size: 14px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

ul{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.mobile-hidden{
  display: inline-block;
}


.carousel{
  margin-bottom: 25px;
}
.carousel-caption .text-caption{
  text-shadow: 0 1px 1px #03060c;
}


.form-control, .form-control.active, .form-control:active, .form-control:focus, .form-control.focus{
  border-radius: 0px;
  box-shadow: none;
}
.btn, .btn.active, .btn:active, .btn:focus, .btn.focus{
  box-shadow: none;
}
.btn-flat{
  border-radius: 0px;
}



/*topbar*/
.topbar{
  height: 34px;
}
.topbar ul li{
  float: left;
  padding: 4px;
  font-size: 13px;
}
/*topsearch*/
.topsearch{
  min-height: 70px;
}
.search-form{
  margin-top: 22px;
}
.search-form .btn-search{
  border-top-right-radius: 25px!important;
  border-bottom-right-radius: 25px!important;
}
.search-form .dropdown-category{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  font-size: 14px;
}
.search-form  .dropdown-menu{
  border-radius: 10px;
}
.search-form  .dropdown-menu .dropdown-item, .search-form  .dropdown-menu .dropdown-item:active{
  background: #ffffff;
  font-size: 14px;
}
.search-form  .dropdown-menu .dropdown-item:hover{
  background: #f1f1f1;
}
.topsupport{
  position: relative;
}
.topsupport span{
  float: left;
  width: 100%;
  font-size: 13px;
  margin-top: 16px;
  text-align: center;
}
.topsupport h5{
  float: left;
  width: 100%;
  font-size: 18px;
  text-align: center;
}
.topsupport i{
  position: absolute;
  font-size: 45px;
  top: 16px;
  right: 0px;
}
/*navbar*/
.navbar ul li a{
  font-size: 16px;
  transition: all 0.3s ease 0s;
}
.navbar ul li a:hover{
  transition: all 0.3s ease 0s;
}

/*minibanner*/
.minibanner{
  margin-bottom: 25px;
}

/*product-list*/
.product-list .product{
  margin-bottom: 12px;
}
.product-list .product .product-photo{
  border: 1px solid #e0e0e0;
  padding: 5px;
  min-height: 240px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.product-list .product .product-name{
  font-size: 16px;
  margin-top: 13px;
  text-align: left;
}
.product-list .product .product-price{
  display: block;
  font-size: 20px;
  margin-bottom: 12px;
  font-weight: 600;
}
.product-list .product a{
  color: #666666;
  border: 1px solid #e0e0e0;
  padding: 5px;
  transition: all 0.3s ease 0s;
}
.product-list .product a:hover{
  text-decoration: none;
  background: #e9e9e9;
  transition: all 0.3s ease 0s;
}
.link-produt-list{
  float: left;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 25px;
  border-bottom: 1px solid #e9e9e9;
}
.link-produt-list li{
  float: left;
  padding: 10px;
  color: #ffffff;
  background: #666666;
}
.link-produt-list li a, .link-produt-list-destak{
  padding: 10px 20px;
  color: #ffffff;
  background: #666666;
}
.link-produt-list-destak{
  margin-right: 3px;
}

/*newsletter*/
.newsletter{
  background: #e6e6e6;
  padding: 25px;
}
.newsletter i{
  font-size: 35px;
  display: inline-block;
}
.newsletter span{
  display: inline-block;
  line-height: 13px;
  margin-left: 4px;
}

/*maps*/
.maps iframe{
  width: 100%;
}
/*contact*/
.contactfooter{
  background: #d3d3d3;
  margin:0px;
  padding: 25px 0px;
  display: block;
  width: 100%;
}
.contat-box{
  text-align: center;
}
.contat-box i{
  font-size: 26px;
}
.contat-box h3{
  font-size: 16px;
}
.contat-box p{
  margin: 0px;
  padding: 0px;
  height: inherit;
  line-height: 18px;
}
.contat-form{
  margin-top: 25px;
}
.contat-form .form-control{
  margin-bottom: 25px;
}
/* enable absolute positioning */
.inner-addon {
  position: relative;
}
/* style icon */
.inner-addon .fa {
  position: absolute;
  padding: 13px;
  pointer-events: none;
}
/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


/*footer*/
.footer{
  background: #272727;
  min-height: 70px;
  padding: 25px 0px;
  text-align: center;
}
footer{
  background: #707070;
  height:  50px;
  padding: 15px 0px;
  text-align: center;
}
footer p, footer p a, footer p, footer p a:hover{
  margin: 0px;
  color: #ffffff;
  text-decoration: none;
}
.footer-search-form .search-form{
  margin-top: 0px;
}
.menu-footer{
  text-align: left;
}
.menu-footer h3{
  color: #cccccc;
  margin-top: 25px;
  font-size: 18px;
}
.border-bottom{
  display: block;
  height: 2px;
  width: 20%;
  border: 0px!important;
  margin-top: 4px;
}
.menu-footer a, .menu-footer a:hover{
  color: #999999;
  text-decoration: none;
  font-size: 14px;
}


/*pages*/
.internal-pages{
  margin-top: 16px;
  margin-bottom: 25px;
}
.title-internal-page{
  font-size: 16px;
  text-align: center;
  line-height: 23px;
  margin-bottom: 25px;
}
#productcarousel{
  margin-bottom: 0px;
}

.product-title h1{
  font-size: 22px;
  margin-bottom: 5px;
  line-height: 18px;
}
.rate{
  margin-top: 25px;
  margin-bottom: 40px;
}
.rate ul li{
  float: left;
  width: 25px;
}
.rate ul li a{
  color: #cccccc;
}
.rate ul li a:hover, .rate ul li a.active-rate, .rate ul li.active-rate{
  color: #f1c200;
}
.rate ul li.active-rate-vote{
  color: #f1c200;
}
.rate ul li i{
  font-size: 20px;
}
.rate span{
  margin-left: 5px;
}
.product-price{
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.product-price .promotional-price{
  font-size: 14px;
  text-decoration:line-through;
}
.product-price .full-price{
  font-size: 28px;
  font-weight: 500;
  line-height: 18px;
}
.product-price .full-price small, .product-price .full-price span{
  font-size: 14px;
  font-weight: 400;
}
.product-price .full-price span{
  display: block;
  width: 100%;
  margin: 0px;
}
.btn-buy{
  margin-bottom: 10px;
}
.consult-transport{
  margin-top: 20px;
}
.consult-transport label{
  font-weight: 500;
}
.result-consult-transport{
  margin-top: 10px;
  display: block;
}
.result-consult-transport p{
  font-size: 12px;
  line-height: 17px;
  margin: 0px;
  margin-bottom: 2px;
}
.product-description{
  margin-top: 25px;
}
.quote-form small{
  display: block;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 10px;
}
.quote-form .form-control{
  margin-bottom: 10px;
}

/*shopcart*/
.shopcart .protuct-shopcart-photo, .shopcart .protuct-shopcart-title{
  display: inline-block;
}
.shopcart  a,.shopcart  a:hover{

  text-decoration: none;
}
.shopcart-total{
  font-size: 22px;
}
.link-trash{
  font-size: 16px;
  padding: 2px;
  display: inline-block;
  width: 25px;
}
.result-address{
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.result-address p{
  margin-bottom: 0px;
}

//register-form
.register-form small{
  display: block;
  width: 100%;
}


/*login*/
.login-title, .register-title{
  font-size: 18px;
  padding: 0px 10px;
}



/*product-banner*/
.product-banner{
  position: relative;
  height: 170px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  align-content: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 0px;
}
.product-banner-title{
  color: #ffffff;
  text-shadow: 0 1px 1px #03060c;
  font-size: 28px;
}
.sidebar, .products-list{
  padding: 0px;
}
.title-sidebar{
  padding: 0px 8px;
  font-size: 19px;
  margin-bottom: 5px;
}
.sidebar-list li{
  float: left;
  width: 100%;
}
.sidebar-list li a, .sidebar-list li a:hover{
  float: left;
  width: 100%;
  padding:5px 8px;
  color: #666666;
}
.sidebar-list li.category{
  overflow: auto;
  margin-bottom: 5px;
}
.sidebar-list li.category>a{
  font-weight: 500;
}
.sidebar-list-subcategory{
  padding-left: 18px;
}
.sidebar-list-subcategory li a, .sidebar-list-subcategory li a:hover{
  float: left;
  width: 100%;
  padding:2px 5px;
  color: #666666;
  font-weight: 400;
}
.nav-product-list{
  float: left;
  width: 100%;
}
.nav-product-list-top{
  margin-bottom: 10px;
}
.btn-filter,
.btn-filter:hover,
.btn-filter.active,
.btn-filter:active,
.btn-filter:focus,
.btn-filter.focus{
  box-shadow: none!important;
  outline: none!important;
}
.dropdown-filter  .dropdown-menu .dropdown-item, .dropdown-filter  .dropdown-menu .dropdown-item:active{
  background: #ffffff;
  font-size: 14px;
}
.dropdown-filter  .dropdown-menu .dropdown-item:hover{
  background: #f1f1f1;
}
.dropdown-menu-filter{
  position: absolute;
  will-change: transform;
  right: 0px!important;
  top: 0px;
  left: inherit!important;
  transform: translate3d(0px, -107px, 0px);
}
.customer-title{
  font-size: 15px;
}
.order-date{
  font-size: 10px;
}
//checkout
.header-checkout{
  display: block;
  height: 35px;
  border-bottom: 3px solid #069;
  margin-bottom: 10px;
  padding-bottom:5px;
}
.header-checkout h1{
  font-size: 16px;
  line-height: 23px;
  margin: 0px;
  padding: 0px;
  float: left;
  font-weight: 500;
}
.header-checkout-number{
  display: block;
  padding: 10px;
  width:25px;
  height: 25px;
  font-size: 16px;
  line-height: 4px;
  font-weight: 600;
  margin: auto;
  text-align: center;
}
.checkout-form .form-group{
  margin-bottom: 0.3rem;
}
.content-checkout legend{
  font-size: 14px;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 3px;
}
.select-opt{
  border: 1px solid #dee2e6;
  padding:10px 10px 10px 30px;
  margin-bottom: 10px;
}





//helpers
.card{
  border-radius: 0px!important;
}
.card-footer, .card-header {
  padding: 0px!important;
}
.card-header:first-child {
  border-radius:0px;
}
.btn-link {
  color: #666666;
  text-decoration: none;
  font-size: 14px;
}
.btn-link:hover, .btn-link:active,.btn-link:focus {
  color: #999999;
  text-decoration: none;
}
.card-header {
  border-bottom: 0px solid rgba(0,0,0,.125);
}


.breadcrumb, .pagination {
  border-radius: 0rem;
  list-style: none;
}
.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  box-shadow: none;
  outline: none;
}
.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  box-shadow: none;
  outline: none;
}
.pagination-sm .page-link{
  box-shadow: none;
  outline: none;
}

a:hover{
  text-decoration: none;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.carousel-item .img-fluid {
  width:100%;
  height:100%;
}
.carousel-item {
  background-color: #ffffff;
}


.table > thead > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th {
  vertical-align: middle;
}
.table{
  border: 0px;
  margin-bottom: 0px;
}
.table td, .table th {
  padding: .40rem;
  border: 1px solid #dee2e6;
}
.table-bordered thead td, .table-bordered thead th {
  border-bottom-width: 1px;
}
.table>tfoot>tr>th{
  border-top:0px;
}
.table>tbody>tr>td{
  border-top: 0px;
}
.table-no-border td, .table-no-border th{
  border: 0px solid #dee2e6;
}
.table-border-bottom{
  border-bottom: 1px solid #dee2e6;
}
.bg-table-gray{
  background: #f1f1f1;
}
.border-decorate-table-bottom{
  display: block;
  width: 90%;
  height: 1px;
  border: 0px!important;
  margin-top: 4px;
  position: relative;
  top: 5px;
  margin: auto;
  background: #dee2e6;
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.nav-item a{
  color: #495057;
  border: 0px;
}
.nav-item:hover{
  border: 0px;
}
.tab-content>.active {
  padding: 10px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  border: 0px;
}

.breadcrumb{
  border-radius: 0px;
  padding: 5px;
  margin-bottom: 15px;
  background-color: #ffffff;
}
.breadcrumb a:hover{
  text-decoration: none;
}

/*alert*/
.alert{
  border-radius: 0px;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 0px;
}
.alert-dismissible .close,
.alert-dismissible .close:hover,
.alert-dismissible .active,
.alert-dismissible .focus,
.alert-dismissible .close:active,
.alert-dismissible .close:focus{
  padding:0px;
  border: 0px;
  right: 4px;
  top:1px;
  box-shadow: none;
  outline: none;
}
.close {
  font-size: 18px;
  line-height: 1;
  box-shadow: none;
  outline: none!important;
}

/*section-margin-top*/
.section-margin-top{
  margin-top: 25px;
}
.section-margin-bottom{
  margin-bottom: 25px;
}
.no-border-right{
  border-right: 0px!important;
}

#go-to-top{
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  text-decoration: none;
  background: #666666;
  padding: 7px 12px;
  color: #ffffff;
}
#go-to-top i{
  color: #ffffff;
}


/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
  background: #FFF;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
}

#status {
  background-image: url(../images/preloader.gif);
  background-position: center;
  background-repeat: no-repeat;
  height: 200px;
  left: 50%;
  margin: -100px 0 0 -100px;
  position: absolute;
  top: 50%;
  width: 200px;
}
.text-gray{
  color: #c1c1c1;
}



/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media (max-width: 1200px) {
  .topsupport i{
    display: none;
  }
}

@media (max-width: 990px) {
  .topsupport i{
    display: none;
  }
  .navbar-brand img{
    margin-top: 6px;
  }
  .topsearch-form{
    margin-top: 16px;
  }
  .topsupport{
    position: relative;
    top: -3px;
  }
  .news-label, .news-input{
    text-align: center;
    margin-bottom: 10px;
  }
  .btn-buy{
    width: 100%;
  }
  .sidebar{
    display: none;
  }
}

@media (max-width: 767px) {
  .mobile-hidden{
    display: none;
  }
  .navbar-brand{
    float: left;
    text-align: center;
    width: 100%;
    padding: 0px;
  }
  .navbar-brand img{
    margin-top: 0px;
  }
  .topsupport span{
    font-size: 16px;
  }
  .topsupport h5{
    font-size: 22px;
  }
  .topsearch-form{
    margin-top: 0px;
  }
  .product-title{
    margin-top: 20px;
  }
  #zipcode{
    margin-bottom: 10px;
  }
  .contat-box .col-xs-12{
    margin-bottom: 15px;
  }
  .btn-register, .btn-continue, .btn-login{
    width: 100%;
  }

  .register-form label{
    display: none;
  }

  .login-title, .register-title{
    padding: 0px;
  }
  .forgot-password{
    display: block;
    margin-top: 5px;
  }
  .dropdown-filter{
    width: 100%;
    margin-top: 10px;
  }
  .dropdown-filter .btn-filter{
    width: 100%;
  }
  .navigation-products{
    width: 100%;
    display: flex;
    text-align: center;
  }
  .navigation-products .pagination{
    float: none!important;
    margin: auto!important;
  }
}

@media (max-width: 289px) {
  body{
    display: none;
  }
}
